*{
    margin: 0;
    padding: 0;
}
.demo{
    height: 100vw;
    width: 100%;
    
}

.demo model-viewer{
    height: 100%;
    width: 100%;
    background-color: rgb(189, 255, 233);
    border-radius:20% ;		}



*{
    font-family: 'Staatliches', cursive;

}

body{

    background-image: url(assets/cool-background.png);
    
}